
@{
    Layout = "_NonUserLayout";
    ViewData["Title"] = "ContactUs";
}

<div class="text-center">
    <h1>Contact Us!</h1>
</div>
<br />
<div class="text-center">
    <h1>Find us on Social Media!</h1>
</div>