@model MyTrip.Models.TripAttendee

@{
    Layout = "_Layout";
    ViewData["Title"] = "InviteAttendee";
}

<div class="text-center">
    <h1>Invite attendees to your trip </h1>
    <h1>Fill out the information to have them added to your trip</h1>
</div>

<div class="text-center">
    <form asp-controller="Home" asp-action="AddUser" method="post">
        <p>
            <label asp-for="AttendeeFirstName">First Name: </label><br />
            <input asp-for="AttendeeFirstName" />
        </p>
        <p>
            <label asp-for="AttendeeLastName">Last Name: </label><br />
            <input asp-for="AttendeeLastName" />
        </p>
        <p>
            <label asp-for="AttendeeEmail">Email: </label><br />
            <input asp-for="AttendeeEmail" />
        </p>
        <button type="submit">Invite</button>
    </form>
</div>