@model MyTrip.Models.User

@{
    Layout = "_NonUserLayout";
    ViewData["Title"] = "UserLogInScreen";
}

<div class="text-center">
    <h1>Welcome to MyTrip!</h1>
    <h2>Please sign in to get started. </h2>
</div>

<div class="text-center">

    <form asp-controller="UserHome" asp-action="UserLogInScreen" method="post">
        <p>
            <label asp-for="UserName">User Name: </label><br />
            <div><span asp-validation-for="UserName"></span></div>
            <input asp-for="UserName" />
        </p>
        <p>
            <label asp-for="Password">Password: </label><br />
            <div><span asp-validation-for="Password"></span></div>
            <input asp-for="Password" />
        </p>
        <button type="submit">Log In</button>
    </form>
</div>

<div class="text-center"> New to MyTrip? <a asp-action="CreateUser">Click Here! </a></div>